*,
*::after,
*::before {
	box-sizing: border-box;
}

/* https://vegaprotocol.github.io/alpha-lyrae/ */

:root {
	/* --color-bg: #000; */
	--color-bg: transparent;
	--color-link: #fff;
	--color-link-hover: #fff;
	--img-width: 260px;
	--img-ratio: 1.4;
	--img-offset-x: 20px;
	--img-offset-y: 20px;
	--img-border-radius: 4px;
	/* --color-bg-content: rgba(255,255,255,0.05); */
	--color-bg-demos: rgba(255,255,255,0.05);
}

body {
	margin: 0;
	color: var(--color-text);
	/* background-color: var(--color-bg); */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	/* padding: 1.25rem; */
	display: grid;
	height: 100vh;
	width: 100%;
	/* grid-row-gap: 1.25rem; */
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto auto;
	grid-template-areas: 'frame' 'content' 'meta' 'demos';
}

.meta {
	grid-area: meta;
}

.meta__title {
	margin: 0;
	font-size: clamp(2rem,5vw,5rem);
	font-weight: 300;
}

.meta__subtitle {
	margin: 0;
}

.demos {
	position: relative;
	text-align: right;
	grid-area: demos;
	background: var(--color-bg-demos);
	border-radius: 8px;
	/* padding: 0.5rem; */
	display: flex;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
	align-items: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;
	justify-content: flex-end;
	z-index: 200;
}

.demos span {
	width: 100%;
}

.demo {
	background: var(--color-bg);
	aspect-ratio: 1;
	flex: none;
	width: 3rem;
	display: grid;
	place-items: center;
	text-align: center;
	border-radius: 5px;
}

.demo--current {
	color: rgba(255,255,255,0.5);
}

.frame {
	grid-area: frame;
	z-index: 1000;
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: 'title title' 'prev back' 'sponsor sponsor';
	grid-gap: 0.5rem;
}

body #cdawrap {
    justify-self: start;
}

.content {
	grid-area: content;
	border-radius: 8px;
	background: var(--color-bg-content);
	position: relative;
	z-index: 100;
}

.content__img {
	width: var(--img-width);
	aspect-ratio: var(--img-ratio);
	border-radius: var(--img-border-radius);
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	will-change: transform, filter;
}

.content__img-inner {
	background-position: 50% 50%;
	width: calc(100% + var(--img-offset-x));
	height: calc(100% + var(--img-offset-y));
	background-size: cover;
	position: absolute;
	top: calc( -1 * var(--img-offset-y) / 2 );
	left: calc( -1 * var(--img-offset-x) / 2 );
}

@media screen and (min-width: 53em) {
	main {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 'frame frame' 'content content' 'meta demos';
	}
	.frame {
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas:  'title back prev sponsor';
		align-content: space-between;
		align-items: end;
		grid-gap: 2rem;
	}
	.demos {
		justify-self: end;
		grid-column-gap: 0.5rem;
		grid-row-gap: 1rem;
		padding: 1rem;
	}

	body #cdawrap {
    	justify-self: end;
	}
}
